.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 4em;
    background: var(--ifm-navbar-background-color);
    z-index: var(--ifm-z-index-dropdown);
    box-shadow: var(--ifm-global-shadow-lw);
    padding: 0.5em;
    margin-left: -0.5em;
    border-radius: var(--ifm-global-radius);
    .spacer {
        flex-grow: 1;
    }
}
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-top: 1em;
    .icon {
        width: 8em;
        border: 1px dashed var(--ifm-font-color-base);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        align-items: center;
        .copyBadge {
            font-size: 10px;
            break-inside: avoid;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 100%;
        }
    }
}
