.feature {
    height: 100%;
    border-radius: var(--ifm-global-radius);
    position: relative;

    .icon {
        line-height: 1.5;
        font-size: 4rem;
    }

    .pages {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .pages {
        .number {
            margin-left: 0.2rem;
        }
    }

    h2 {
        font-size: 1.2rem;
    }

    &:hover {
        box-shadow: var(--ifm-global-shadow-lw);
        .pages {
            opacity: 1;
            transition: all 0.3s ease-in-out;
        } 
    }
}